import {
  {{# schemas}}
  {{apitablename}},
  {{/schemas}}
} from 'src/schemas/mapper';

{{# schemas }}
export const {{apitablename}}_ajv = {
  {{# columnInfoList}}
  {{apicolname}}: {
    name: {{apitablename}}.{{apicolname}}.key,
    api: { type: '{{ajvtype}}' },{{# foreignkey}}
    fk: '{{foreignkey}}_ajv',{{/foreignkey}}
    required: {{#notnull}}true{{/notnull}}{{^notnull}}false{{/notnull}},
  },
  {{/columnInfoList}}
};
{{/schemas}}
