import pool from '../../dbconn';

export async function select_{{apitablename}}_by_id(request: any) {
  const values: any[] = [];

  const id = request.path.split('/').splice(-1)[0];
  const created_by = request.decoded.user_id;
  values.push(id);
  values.push(created_by);

  const select_query = {
    text: `SELECT row_to_json(t)
        FROM (
          SELECT {{dbtablename}}.*{{# fk_alias_list}}, {{.}}{{/fk_alias_list}}
          from {{dbtablename}} 
          {{# fk_info_list}}
          LEFT JOIN {{fk_table}} {{fk_alias}}
          ON {{dbtablename}}.{{fk_col}} = {{fk_alias}}.{{fk_pk}}
          {{/fk_info_list}}
          where {{dbtablename}}.{{primarykey}} = $1 and {{dbtablename}}.created_by = $2
        ) t;`,
    values: values,
  };
  try {
    const result = await pool.query(select_query);
    return result.rows[0].row_to_json;
  }
  catch (err: any) {
    throw err;
  }
}
