import ajvInstance from '../ajv-instance';
import { {{apitablename}}_ajv } from '../mapper_ajv';


const {{apitablename}}_schema = {
  type: 'object',
  properties: {
    {{# columnInfoList}}
    {{apicolname}}: {{apitablename}}_ajv.{{apicolname}}.api,
    {{/columnInfoList}}
  },
  required: ['{{# primarykey}}{{primarykey}}{{/primarykey}}{{^primarykey}}id{{/primarykey}}'],
  additionalProperties: false,
  anyOf: [{{# columnInfoListAnyOf }}{
    required: ['{{apicolname}}'],
  },{{/columnInfoListAnyOf}}]
};

export default ajvInstance.compile({{apitablename}}_schema);
