# API Documentation for POST

{{# schemas}}
## {{apitablename}}

URL: https://twofr0plj9.execute-api.us-east-1.amazonaws.com/dev/v2/rest/{{apitablename}}

Methods: `POST`

Headers: 
```
x-api-key: ONnXurVUA4oIRX4fvtkI2YHvCJu16kla2d6oYNU4
Content-Type: application/json
```

*Request parameters:*
| propeties | required? | details |
| :--- | :--: | ---: |
{{# columnInfoList}}
|{{apicolname}}|{{#notnull}}Yes{{/notnull}}{{^notnull}}No{{/notnull}}|{{ajvtype}}
{{/columnInfoList}}


- - - - - - - - - - - - - - - - - -
{{/schemas}}