import edit_{{apitablename}} from '../../schemas/ajv_schemas_update/{{apitablename}}';
import { update_{{apitablename}} } from '../../dbmanager/db_update_sl/general/{{apitablename}}.update';
import { update_{{apitablename}}_admin } from '../../dbmanager/db_update_sl/admin/{{apitablename}}.update';


export const put{{apitablename}} = async (request: any) => new Promise((resolve, reject) => {
  // ---------Schema validation-----------
  const valid = edit_{{apitablename}}(request.body);
  if (!valid) {
    const { errors } = edit_{{apitablename}};
    reject(errors);
  }
  else {
    try {
      const result = update_{{apitablename}}(request);
      resolve(result);    
    }
    catch (err) {
      reject(err);
    }
  }
});

export const put{{apitablename}}_admin = async (request: any) => new Promise((resolve, reject) => {
  // ---------Schema validation-----------
  const valid = edit_{{apitablename}}(request.body);
  if (!valid) {
    const { errors } = edit_{{apitablename}};
    reject(errors);
  }
  else {
      try {
        const result = update_{{apitablename}}_admin(request);
        resolve(result);
      }
      catch (err) {
        reject(err);
      }
  }
  });
