import { select_{{apitablename}}_by_id_admin } from '../../dbmanager/db_select_sl/admin/{{apitablename}}.selectByID';
import { select_{{apitablename}}_by_id } from '../../dbmanager/db_select_sl/general/{{apitablename}}.selectByID';


export const get{{apitablename}}_admin = async (id: string|number) => new Promise((resolve, reject) => {
  try {
    const result = select_{{apitablename}}_by_id_admin(id);
    resolve(result);
  }
  catch (err) {
    reject(err);
  }
});

export const get{{apitablename}} = async (request: any) => new Promise((resolve, reject) => {
  try {
    const result = select_{{apitablename}}_by_id(request);
    resolve(result);
  }
  catch (err) {
    reject(err);
  }
});
