# API Documentation for PUT for admin purpose

## Description

1. The PUT APIs in documentation update your existing record based on groupd or specific parameters
such as primary keys. To operate this API primary key is always a required field.

2. For successful updation, any one of the key must be provided.

3. This documentation is for the admin purpose use. 
This means, user will be able to operate on the informaiton irrespective of whoever created it.

{{# schemas}}
## {{apitablename}}

URL: https://twofr0plj9.execute-api.us-east-1.amazonaws.com/dev/v2/rest/admin/{{apitablename}}

Methods: `PUT`

Headers: 
```
x-api-key: ONnXurVUA4oIRX4fvtkI2YHvCJu16kla2d6oYNU4
Content-Type: application/json
```
*Request parameter must*:
| propeties | details |
| :--- | ---: |
{{primarykey}}

*Request parameters any of:*
| propeties | details |
| :--- | ---: |
{{# columnInfoList}}
|{{apicolname}}|{{ajvtype}}|
{{/columnInfoList}}


- - - - - - - - - - - - - - - - - -
{{/schemas}}